mlflow==3.15.1
astunparse==1.6.3
asyncio==3.4.3
numpy==2.4.3
nvidia-ml-py==13.610.43
pandas==2.2.3
psutil==5.9.8
pyarrow==21.0.0
pydot==4.0.1
pytest==8.3.5
scikit-learn==1.7.1
scipy==1.16.1
skops==0.14.0
torch==2.5.1
tqdm==4.67.3